<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

  <button type="button" data-toggle="modal" data-target="#myMode">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade in" id="myMode" role="dialog" style = "display:block;">
    
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Successful</h4>
        </div>
        <div class="modal-body">
          <p>You've liked this!</p>
        </div>
        <div class="modal-footer">
          <a href="javascript: history.go(-1)"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></a>
        </div>
      </div>
</div>
      
 

</body>
</html>
